.body , html {
    color: black;
}
.map-container {
    background-image: url("mapa.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;

}